@import "utils/variables";

// Les lignes qui suivent ont pour seul but de tester l'affichage d'un loader
@keyframes displaying-spinner_body {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: unset;
  }
}

@keyframes displaying-spinner_spinner {
  0%,
  90% {
    opacity: 1;
  }
  99% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

$duration: 2.1s;
$fill-mode: both;
$timing: linear;

.spinner__container {
  background-color: white;
  animation: displaying-spinner_spinner $duration $fill-mode $timing;
  &::after {
    position: absolute;
    content: "Chargement en cours ...";
    font-family: $main-fontfamily;
    font-weight: 500;
    color: $primary-color;
    left: 50%;
    top: 60%;
    width: 100%;
    text-align: center;
    transform: translate(-50%);
  }
}
body {
  animation: displaying-spinner_body $duration $fill-mode $timing;
}
