@import "../utils/variables";

@keyframes badge_blinking {
  50%,
  60%,
  70% {
    transform: scale(1);
  }
  55%,
  65% {
    transform: scale(1.1);
  }
}

.badge {
  padding: 0.5em 0.8em;
  border-radius: 0.25em;
  &--success {
    font-size: 0.9em;
    font-weight: bold;
    color: darken($tertiary-color, 50%);
    background-color: lighten($tertiary-color, 15%);
  }
  &--blinking {
    animation: badge_blinking 3s infinite;
  }
}
