@import "../utils/variables";
@import "../utils/hidden-input";

@mixin liked_state($is-liked) {
  .heart-button {
    @if $is-liked {
      &__empty {
        opacity: 0;
      }
      &__filled {
        opacity: 1;
      }
    } @else {
      &__empty {
        opacity: 1;
      }
      &__filled {
        opacity: 0;
      }
    }
  }
}

.heart-button {
  input[type="checkbox"] {
    @include hidden-input;

    &:checked {
      + label {
        @include liked_state(true);
      }
    }
    &:focus {
      &:not(:checked) {
        + label {
          @include liked_state(false);
        }
      }
      + label {
        .heart-button__empty {
          color: $primary-color;
        }
        text-shadow: 0 0 1em $primary-color;
      }
    }
    + label {
      cursor: pointer;
      position: relative;
      @include liked_state(false);
      &:hover {
        @include liked_state(true);
      }
      .heart-button {
        &__empty {
          transition: opacity 0.2s ease-in-out;
        }
        &__filled {
          position: absolute;
          left: 0;
          top: 0;
          transition: opacity 0.2s ease-in-out;
          background-image: linear-gradient(
            225deg,
            $primary-color,
            $secondary-color
          );
          background-clip: text;
          color: transparent;
        }
      }
    }
  }
}
