@use "sass:math";
@import "../utils/variables";
@import "../utils/breakpoints";

#location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  background-color: $bg-color;
  &__field {
    border: unset;
    background-color: unset;
    width: 8em;
    margin-left: 1em;
    font-size: 1em;
    font-family: $main-fontfamily;
    color: black;
  }
}

#introduction {
  background-color: $bg-color-light;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1,
  p {
    text-align: center;
  }
  h1 {
    margin: 0;
    padding: 0 1em;
  }
  p {
    font-weight: 300;
    font-size: 1.1em;
  }
}

#usage-process {
  padding: 2em 1em;
  .step-list {
    max-width: 33em;
  }
}

#restaurants {
  background-color: $bg-color-light;
  padding: 2em 1em;
  .card {
    position: relative;
    height: 16.5em;
    margin-left: 0;
    margin-right: 0;
    &__link {
      height: 100%;
      text-decoration: none;
      color: unset;
    }
    &__image-container {
      flex: 0 0 unquote("#{(math.div(5, 7) * 100)}%");
    }
    &__description-container {
      flex: 0 0 unquote("#{(math.div(2, 7) * 100)}%");
      padding: 0.1em 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h2 {
      font-size: 1.1em;
      margin: 0;
      margin-bottom: 0.15em;
      font-weight: bold;
    }
    p {
      margin: 0;
      padding: 0;
      font-weight: 300;
      font-size: 1.05em;
    }
    .badge {
      position: absolute;
      top: 1em;
      right: 1em;
    }
    &__link:active ~ .heart-button {
      transform: translate(-100%, -50%) scale(0.9);
    }
  }
  .heart-button {
    position: absolute;
    top: unquote("#{(math.div(6, 7) * 100)}%");
    right: 0;
    transform: translate(-100%, -50%);
    transition: transform 0.2s ease-in-out;
    font-size: 1.5em;
  }
}

@include only-tablets {
  #restaurants {
    .cards-container {
      overflow: auto;
      width: 100%;
      flex-wrap: nowrap;
      &::-webkit-scrollbar {
        height: 5px;
      }
    }
    .card {
      display: inline-flex;
      flex: 1 0 20em;
      margin: 1em;
      height: 15em;
    }
  }

  #usage-process {
    .step-list {
      flex-direction: row;
      justify-content: space-around;
      max-width: unset;
      &__item {
        flex: 1 0 30%;
        max-width: 30%;
        margin: 0;
      }
    }
  }
}

@include tablets {
  #restaurants {
    .cards-container {
      display: flex;
      flex-direction: row;
    }
  }
}

@include desktops {
  main {
    display: grid;
    grid-template-areas:
      "a a"
      "b c"
      "d d";
    grid-template-columns: 2fr 1fr;
  }

  #location {
    grid-area: a;
    justify-content: start;
    padding-left: 2em;
    border-radius: 0 0 0.5em 0;
  }

  #introduction {
    grid-area: b;
    display: flex;
    justify-content: center;
    background-color: white;
  }

  #usage-process {
    grid-area: c;
    padding-top: 0;
  }

  #restaurants {
    background-color: white;
    padding: 1em;
    grid-area: d;
    .cards-container {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .card {
      flex: 0 0 32%;
    }
  }
}
