@use "sass:math";
@import "../utils/variables";
@import "../utils/breakpoints";

@keyframes menu-item_appearing {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.menu-image {
  object-fit: cover;
  width: 100%;
  height: 100%;

  &-container {
    width: 100%;
    height: 18em;
    overflow: hidden;
  }
}
main {
  background-color: $bg-color-light;
  position: relative;
  @include tablets {
    background-color: white;
    $img-height: 30em;
    .menu-image-container {
      height: $img-height;
      position: absolute;
    }
    #order-form-container {
      max-width: 33em;
      margin: auto;
      top: math.div($img-height, 2);
      margin-bottom: math.div($img-height, 2) + 1;
      border-radius: 2em;
      padding: 2em;
    }
  }
  @include desktops {
    $top-margin: 20em;
    .menu-image-container {
      height: $top-margin;
    }
    #order-form-container {
      top: $top-margin;
      max-width: unset;
      margin: 0;
      margin-bottom: $top-margin + 1;
      border-radius: 0 0 1em 1em;
    }
  }
}

h2 {
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1em;
  margin: 1.5em 0;
  &::after {
    position: absolute;
    content: "";
    width: 2.5em;
    bottom: -5px;
    left: 0;
    border-bottom: 3px solid $tertiary-color;
  }
}

#order-form {
  &-container {
    position: relative;
    top: -4em;
    background-color: $bg-color-light;
    border-radius: 2em 2em 0 0;
    padding: 0.5em 1.5em;
  }
  display: flex;
  flex-direction: column;
  @include desktops {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    section {
      flex: 0 0 30%;
      max-width: 30%;
    }
  }
  .menu-item + .menu-item {
    margin-top: 1em;
  }
  button {
    margin-top: 2em;
    align-self: center;
  }

  .menu-item {
    opacity: 0;
    &:first-of-type {
      animation: menu-item_appearing 0.8s ease-out forwards;
    }
    &:nth-of-type(2) {
      animation: menu-item_appearing 0.8s 100ms ease-out forwards;
    }
    &:nth-of-type(n + 3) {
      animation: menu-item_appearing 0.8s 200ms ease-out forwards;
    }
  }
}

#restaurant-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .heart-button {
    font-size: 1.5em;
  }
}
